body{
    color: #171515;
    background-color: white;
    width:100%;
}

.page-Content{
    margin-top: 5%;
    width:60%;
    /*
    border: solid white 2px;
    */
    margin-left: 20%;
    margin-right: 20%;
    display:flex;
    flex-direction: column;
}