

.carIcon{
    
    display:flex;
    justify-content:left;
    /*
    */
    box-shadow: 2px 2px 2px 2px rgb(121, 107, 94);
    border-radius: 10px;
    width: 90%;
    height:170px;
    margin: 10px;

}

.carIcon:hover{
    box-shadow: 3px 3px 2px 2px rgb(0,0,0);
    cursor: pointer;
    transition: 0.4s;
    
}

.pictureSpace{
    border: solid 1px black;
    margin-top: 15px;
    margin-left: 15px;
    height: 135px;
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.4%;
}


.carInfo{
    padding-left: 15px;
    padding-top: 2%;
    width: 35%;
}

.alugarButton{
    border: solid 1px black;
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

.alugarButton:hover{
    background-color: #fda172;
    transition-duration: 0.4s;
    

}